@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .show {
    display: flex !important;
  }


  .dcdaca{

    font-family: monospace;
  }