.hide-header {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .show-header {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }



  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .show {
    display: flex !important;
  }